/* CSS Styles */

html{
  background-color: rgb(207, 137, 137);
}

.desktopBG{
  background: url(../images/browser2.png) no-repeat center center fixed;
  background-size: cover;
}

.desktopBG2{
  background: url(../images/browser3.png) no-repeat center center fixed;
  background-size: cover;
}

h1{
  color: rgb(0,0,0);
  margin-top: 0px;
  padding-top: 10px;
}

p{
  color: rgb(0,0,0);
  font-size: 10px);
}

body{
  padding: 0px;
  margin: 0px;
}

.TitleText{
  position: absolute;
  top: 20%;
  left: 32%;
  font-size: 20px
}

.ParagraphText{
  position: absolute;
  top: 25%;
  left: 26%;
  font-size: 15px;
  color: white;

}

.CenteredText{
  text-align: center;
}

.center{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.relativePos{
  width: 50px;
  height: 50px;
  left: 30px;
  top: 50px;
  position: relative;
  background-color: orange;
}

.blockPos{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.paddingCenter{
  padding-top: 190px;
}

.paddingCenter2{
  padding-top: 150px;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.faceshop{
  position: absolute;
  top: 55%;
  left: 17%;
  display: inline-block;
}

.faceshop2{
  position: absolute;
  top: 18%;
  left: 25%;
  display: inline-block;
  z-index: -1;
}

.faceshopeye{
  position: absolute;
  top: 120%;
  left: 85%;
  display:inline-block;
  z-index: 1;
}

.faceshopear{
  position: absolute;
  top: 120%;
  left: 95%;
  display:inline-block;
  z-index: 1;
}

.faceshopmouth{
  position: absolute;
  top: 120%;
  left: -5%;
  display:inline-block;
  z-index: 1;
}

.dropshadow{
  filter: drop-shadow(8px 8px 10px gray);
}

.rawimages{
  position: absolute;
  top: 36.7%;
  left: 64%;
  display:inline-block;
}

.goback{
  position: absolute;
  top:175%;
  left: 100%;
  display:inline-block;
}

.goback2{
  position: absolute;
  top: 140%;
  left: -20%;
  display: inline-block;
}

.goback3{
  position: absolute;
  top: 153%;
  left: -20%;
  display: inline-block;
}

.eyefolder{
  position: absolute;
  top:100%;
  left: -75%;
  display:inline-block;
}

.eyefolder2{
  position: absolute;
  top: 80%;
  left: 65%;
  display:inline-block;
  z-index:
}

.earfolder{
  position: absolute;
  top:150%;
  left: -75%;
  display:inline-block;
}

.earfolder2{
  position: absolute;
  top: 70%;
  left: 112%;
  display:inline-block;
}

.nosefolder{
  position: absolute;
  top:250%;
  left: -75%;
  display:inline-block;
}

.nosefolder2{
  position: absolute;
  top: 30%;
  left: 112%;
  display:inline-block;
}

.mouthfolder{
  position: absolute;
  top: 200%;
  left: -75%;
  display:inline-block;
}

.mouthfolder2{
  position: absolute;
  top: 50%;
  left: 112%;
  display:inline-block;
}

.transparentDiv{
  position: relative;
  height: 200px;
  color: white;
}

#maincontainer{
  width: 100%;
  height: auto;
  position: relative;
}

#contentcontainer{
  width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.zoom {
  padding: 10px;
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
}

/* flexboxstuff */

.row{
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.pinkDiv{
  position: relative;
  flex: 1;
  height: 200px;
  color: white;
}

.blueDiv{
  position: relative;
  flex: 1;
  height: 200px;
  color: white;
}
